.git
.gitignore

**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

**/venv/
**/.venv/
**/env/

**/node_modules/
**/dist/
**/build/
**/.vite/
**/src-tauri/target/

**/db.sqlite3
**/*.sqlite3
**/.env
**/.env.local
**/.env.production

**/media/
**/staticfiles/
**/logs/
**/*.log

*.exe
mc.exe

.vscode/
.idea/
Thumbs.db
.DS_Store
